<button [disabled]="room.currentTask == 0" (click)="previousTask()">{{'<'}}</button>
<span>{{ room.tasks[room.currentTask]?.name || '' }}</span>
<button [disabled]="room.currentTask == room.tasks.length - 1" (click)="nextTask()">{{'>'}}</button>

<button (click)="modal.open()">Update Tasks</button>

<app-modal #modal title="Tasks">

  <ng-container *ngIf="room.tasks.length > 0; else noTasks">
    <div class="task" *ngFor="let task of room.tasks">
      <span class="task__name">{{ task.name }}</span>
      <button (click)="deleteTask(task)">delete</button>
    </div>
  </ng-container>
  <ng-template #noTasks>
    <span class="no-tasks">Não há tasks no momento</span>
  </ng-template>

  <div class="create-task">
    <input #name type="text" class="input" placeholder="Digite o nome da task">
    <button (click)="createTask(name.value)">Criar</button>
  </div>

</app-modal>