@import "../../../../assets/sass/colors";

.update-tasks-btn {
  float: right;
  margin-bottom: 10px;
}

.tasks-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid map-get($disabled, light);
  color: map-get($disabled, constrast, light);
  border-radius: 4px;
  .tasks-control__previous, .tasks-control__next {
    display: flex;
    gap: 5px;
    > button {
      background: transparent;
      &:not(:disabled) {
        color: map-get($disabled, constrast, base);
        &:hover {
          background: map-get($disabled, lighter);
          color: map-get($disabled, constrast, lighter);
        }
        &:active {
          background: map-get($disabled, dark);
          color: map-get($disabled, constrast, dark);
        }
      }
      
    }
  }
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  .task__name {
    max-width: 50vw;
    min-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

app-modal {
  .create-task {
    display: flex;
    gap: .5rem;
    margin-bottom: 16px;
    input {
      flex: 1;
    }
  }
}