@import "../../../../assets/sass/colors";
.update-tasks {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

.tasks-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid map-get($disabled, light);
  color: map-get($disabled, constrast, light);
  border-radius: 4px;
  .tasks-control__previous, .tasks-control__next {
    display: flex;
    gap: 5px;
    > button {
      background: transparent;
      &:not(:disabled) {
        color: map-get($disabled, constrast, base);
        &:hover {
          background: map-get($disabled, lighter);
          color: map-get($disabled, constrast, lighter);
        }
        &:active {
          background: map-get($disabled, dark);
          color: map-get($disabled, constrast, dark);
        }
      }
      
    }
  }
}

.no-tasks {
  border: 1px solid gray;
  border-radius: 4px;
  line-height: 3.25rem;
  text-align: center;
}

app-modal {
  .create-task {
    display: flex;
    gap: .5rem;
    margin-bottom: 16px;
    input {
      flex: 1;
    }
  }
  .task__list {
    border: 1px solid gray;
    border-radius: 4px;
    div:nth-child(even) {
      background-color: #f5f5f5;
    }
    div:first-child {
      border-radius: 4px 4px 0 0;
    }
    div:last-child {
      border-radius: 0 0 4px 4px;
    }
    .no-tasks-modal {
      line-height: 3.25rem;
      text-align: center;
    }
    .task {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      .task__name {
        max-width: 50vw;
        min-width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 1rem;
      }
    }
  }
  
}