@import '../../../assets/sass/colors';

.header {
  background: map-get($primary, base);
  width: 100vw;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .header-title {
    color: map-get($primary, constrast, base);
    flex-basis: 100%;
    text-align: center;
    cursor: pointer;
  }
  .user-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    .user {
      flex-basis: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-name {
        margin: 0 .5rem;
        color: map-get($primary, constrast, base);
      }
      .user-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
    .logout {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width:641px)  { 
  .header {
    height: 100px;
    .user-content {
      .user {
        flex-basis: content
      }
      .logout {
        flex-basis: content;
      }
    }
  }
}
@media (min-width:961px)  { 
  .header {
    height: 80px;
    .header-title {
      flex-basis: content;
    }
    .user-content {
      flex-basis: content;
    }
  }
}