@import '../../../../assets/sass/colors';

.actions {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.votes-result {
  border: 3px solid map-get($disabled, light);
  color: map-get($disabled, constrast, light);
  border-radius: 4px;
  text-align: center;
  font-size: 3rem;
  line-height: 8rem;
}

.current-votes-list {
  display: flex;
  gap: .5rem;
  padding: .5rem 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.votes {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% - 2rem));
  overflow-x: show;
  .card {
    width: 2rem;
    height: 3rem;
    cursor: pointer;
  }
}