@import '../../../../assets/sass/colors';

.actions {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.votes-result {
  border: 3px solid map-get($disabled, light);
  color: map-get($disabled, constrast, light);
  border-radius: 4px;
  text-align: center;
  font-size: 3rem;
  line-height: 8rem;
}

.current-votes-list {
  display: flex;
  gap: .5rem;
  padding: .5rem 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.votes {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50%));
  overflow-x: show;
  gap: .5rem;
  padding: .5rem;
  padding-top: 2rem;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: visible;
  .card {
    cursor: pointer;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  .modal-result {
    width: 5rem;
    height: 3rem;
    line-height: 2.6rem;
    text-align: center;
    border: 2px solid black;
  }
}