<div class="main-form">
  <fieldset>
    <legend>Entre com sua conta</legend>
    <button main-button (click)="login('google')" class="google">Google</button>
  </fieldset>
</div>

<form [formGroup]="loginForm" class="main-form">
  <fieldset>
    <legend>Entre sem login</legend>
    <div class="form-field">
      <label for="name">Nome</label>
      <input main-input formControlName="name" id="name" type="text" placeholder="Digite seu nome" />
    </div>
    <div class="actions">
      <button main-button theme="accent" (click)="login()" class="login-btn" [disabled]="loginForm.invalid">Entrar</button>
    </div>
  </fieldset>
</form>
