:host {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .google {
    background: red;
  }
  .facebook {
    background: lightgray;
  }
}
