<div class="rooms-content">
  <div class="actions">
    <h2 class="rooms__header">Entre em uma sala</h2>
    <button main-button theme="primary" (click)="modal.open()">Criar</button>
  </div>

  <div class="rooms">
    <div class="rooms__list">
      @for (room of rooms; track room) {
        <app-room-item [room]="room"></app-room-item>
      }
      @if (rooms.length == 0) {
        <h3 class="no-room">Não há salas no momento!</h3>
      }
    </div>
  </div>
</div>

<app-modal #modal modalTitle="Criar sala">
  <input #name main-input type="text" class="input" placeholder="Digite o nome da sala">
  <button main-button (click)="createRoom(name.value)">Criar</button>
  <button main-button theme="error" (click)="modal.close()">Cancelar</button>
</app-modal>
