.main-button {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2rem;
  padding: 0 16px;
  border-radius: 4px;
  background: transparent;
  border: none;

  &--primary {
    color: map-get($primary, constrast, base);
    background: map-get($primary, base);
    &:hover {
      background: map-get($primary, light);
    }
    &:active {
      background: map-get($primary, dark);
    }
  }

  &--accent {
    color: map-get($accent, constrast, base);
    background: map-get($accent, base);
    &:hover {
      background: map-get($accent, light);
    }
    &:active {
      background: map-get($accent, dark);
    }
  }

  &--warn {
    color: map-get($warn, constrast, base);
    background: map-get($warn, base);
    &:hover {
      background: map-get($warn, light);
    }
    &:active {
      background: map-get($warn, dark);
    }
  }

  &--error {
    color: map-get($error, constrast, base);
    background: map-get($error, base);
    &:hover {
      background: map-get($error, light);
    }
    &:active {
      background: map-get($error, dark);
    }
  }

  &:focus {
    outline: none;
    border: none;
  }

  &:disabled {
    background: transparent;
    color: map-get($disabled, lighter);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}