$primary: (
  base: #ff1a40,
  dark: #b31240,
  light: #ff8dad,
  lighter: #ffc6d6,
  constrast: (
    base: #ffffff,
    dark: #ffffff,
    light: #ffffff,
    lighter: #ffffff,
  )
);

$accent: (
  base: #141414,
  dark: #000000,
  light: #4d4d4d,
  lighter: #808080,
  constrast: (
    base: #ffffff,
    dark: #ffffff,
    light: #ffffff,
    lighter: #ffffff,
  )
);

$warn: (
  base: #fb8c00,
  dark: #f57c00,
  light: #ffbd45,
  lighter: #ffcd7d,
  constrast: (
    base: #ffffff,
    dark: #ffffff,
    light: #ffffff,
    lighter: #ffffff,
  )
);

$error: (
  base: #d50000,
  dark: #9b0000,
  light: #ff5131,
  lighter: #ff867c,
  constrast: (
    base: #ffffff,
    dark: #ffffff,
    light: #ffffff,
    lighter: #ffffff,
  )
);

$disabled: (
  base: #616161,
  dark: #424242,
  light: #9e9e9e,
  lighter: #bdbdbd,
  constrast: (
    base: #2e2e2e,
    dark: #c2c2c2,
    light: #2e2e2e,
    lighter: #2e2e2e,
  )
);